

.periodo1,
.periodo2,
.periodo3,
.periodo4,
.periodo5,
.periodo6,
.periodo7,
.periodo8,
.periodo9{
    display: flex;
}

.periodo1,
.periodo2,
.periodo3{
    justify-content: space-between;
}

.periodo2 .bloque,
.periodo3 .bloque {
    display: flex;
}

.element{
    width: 91px;
    padding: 4px;
    margin: 1.5px;
}

.element .c-symbol{
    border-radius: 5px;
    border: 1px solid #000000;
    height: 89px;
    padding-top: 5px;
}

.element .group,
.element .h-symbol{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    line-height: 20px;
}

.element .symbol{
    text-align: center;
    line-height: 30px;
}

.element .text{
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    margin: 5px 0;
    line-height: 25px;
}