@media screen and (min-width: 1024px){
    .carousel-item{
        height: 90vh;
    }
}

.carousel-item img{
    max-width: 100%;
}

.copyright{
    text-align: center;
}

.text{
    text-align: center;
}

.row .card{
    margin: auto;
}

@media screen and (min-width: 1024px){
    .row{
        justify-content: space-between;
    }
}
